<div class="mx-4 my-4 md:mx-24 md:my-12">
  <div class="text-center font-bold mb-8">
    <h1 class="text-4xl">{{ section.settings['text-collection'] }}</h1>
  </div>
  <div class="grid grid-cols-1 w-full h-full gap-4 lg:grid-cols-3">
    {% for block in section.blocks %}
      {% if block.settings.featured_collection %}
        {% assign collection = collections[block.settings.featured_collection] %}
        <div>
          {% if collection %}
            {% if collection.image != blank %}
              <div class="relative">
                <a href="{{ collection.url }}">
                  <div>
                    <img
                      class="rounded-lg w-full object-fit h-full  filter brightness-105 "
                      src="{{ collection.image | img_url: '3000x' }}" alt="">
                  </div>
                  <div class="absolute text-center top-1/2 w-full">
                    <h2 class="text-white">{{ collection.title }}</h2>
                  </div>
                </a>
              </div>
            {% else %}
              {% comment %}
                Si la colección tiene imagen en el bloque, usar esa imagen
              {% endcomment %}
              {% if block.settings['img-id'] %}
                <div class="relative">
                  <a href="{{ collection.url }}">
                    <div class="brightness-75 hover:brightness-95 hover:transition hover:ease-out rounded-lg">
                      <img
                        class="w-full h-auto object-fit filter"
                        src="{{ block.settings.img-id |img_url: '3000x' }}">
                    </div>
                    <div class="absolute text-center top-1/2 w-full">
                      <h2 class="text-white">{{ collection.title }}</h2>
                    </div>
                  </a>
                </div>
              {% else %}
                {{ 'collection-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
              {% endif %}
            {% endif %}
          {% else %}
            {{ 'collection-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Lista de colecciones",
  "class": "featured-collection-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text-collection",
      "label": "Texto",
      "default": "Nuestras colecciones"
    }
  ],
  "blocks": [
    {
      "name": "Bloque de Colección",
      "type": "featured_collection_block",
      "settings": [
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "Colección Destacada"
        },
        {
          "type": "image_picker",
          "id": "img-id",
          "label": "Seleccionar imagen"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lista de colecciones Adsolution"
    }
  ]
}
{% endschema %}
